# Atividade Aula6 - Numpy

### Criando o dataset fictício

In [ ]:
pip install pandas numpy

In [27]:
import numpy as np
import pandas as pd

# Definindo uma semente para garantir que os dados sejam reprodutíveis
np.random.seed(42)

# Criando um dataset fictício de 30 linhas (30 funcionários) com as colunas ID, Idade, Salário, Anos de Experiência
n = 30
ids = np.arange(1, n + 1)  # IDs de 1 a 30
idades = np.random.randint(20, 60, size=n)  # Idades entre 20 e 60 anos
salarios = np.random.randint(40000, 100000, size=n)  # Salários entre 40.000 e 100.000
anos_experiencia = np.random.randint(1, 35, size=n)  # Anos de experiência entre 1 e 35 anos

# Combinando os dados em um array
dataset = np.column_stack((ids, idades, salarios, anos_experiencia))

# Convertendo para DataFrame para visualização
df = pd.DataFrame(dataset, columns=['ID', 'Idade', 'Salário', 'Anos de Experiência'])

# Exibindo o DataFrame
# print(df)

### Redimensionar o dataset (por exemplo, transformar 30 linhas em 10 linhas e 12 colunas)

In [ ]:
# Redimensionando o dataset
reshaped_dataset = dataset.reshape(10, 12)

# Convertendo o Array para DataFrame
df_reshaped = pd.DataFrame(reshaped_dataset)

# Exibindo o DataFrame redimensionado
print(df_reshaped)

### Acessar o primeiro elemento (primeira linha) do dataset

In [ ]:
# Acessando a primeira linha do DataFrame
primeira_linha = df.iloc[0]

print(primeira_linha)

### Acessar o salário (terceira coluna) da terceira pessoa

In [ ]:
# Acessando o salário da terceira pessoa
salario_terceira_pessoa = df.iloc[2, 2]

print(salario_terceira_pessoa)

### Selecionar os salários de todos os funcionários

In [ ]:
# Selecionando a coluna de salários
salarios = df['Salário']

print(salarios)

### Concatenar o dataset com um array de bônus (por exemplo, uma nova coluna)

In [ ]:
# Criando um array de bônus
bonus = np.random.randint(5000, 20000, size=df.shape[0])

# Adicionando a nova coluna ao DataFrame
df['Bônus'] = bonus

print(df)

### Transpor o dataset

In [ ]:
# Transpondo o DataFrame
df_transposto = df.T

print(df_transposto)

### Calcular a soma dos salários

In [ ]:
# Calculando a soma dos salários
soma_salarios = df['Salário'].sum()

print(soma_salarios)

### Calcular a média dos anos de experiência

In [ ]:
# Calculando a média dos anos de experiência
media_anos_experiencia = df['Anos de Experiência'].mean()

print(media_anos_experiencia)

### Calcular o desvio padrão das idades

In [ ]:
# Calculando o desvio padrão das idades
desvio_padrao_idades = df['Idade'].std()

print(desvio_padrao_idades)

### Multiplicar o salário e os anos de experiência de cada funcionário

In [ ]:
# Multiplicando o salário e os anos de experiência
df['Salário x Experiência'] = df['Salário'] * df['Anos de Experiência']

print(df)

### Calcular o produto da matriz transposta do dataset com ela mesma

In [ ]:
# Calculando a matriz transposta
df_transposto = df.T

# Calculando o produto da matriz transposta com ela mesma
produto = df_transposto.dot(df)

print(produto)

### Filtrar funcionários com salários maiores que 60.000

In [ ]:
# Filtrando funcionários com salários maiores que 60.000
funcionarios_filtrados = df[df['Salário'] > 60000]

print(funcionarios_filtrados)

### Ordenar o dataset pelo salário

In [ ]:
# Ordenando o DataFrame pelo salário
df_ordenado = df.sort_values(by='Salário', ascending=False)

print(df_ordenado)

### Criar uma cópia do dataset

In [ ]:
# Criando uma cópia do DataFrame
df_copia = df.copy()

print(df_copia)