In [1]:
import numpy as np
import pandas as pd

# Definindo uma semente para garantir que os dados sejam reprodutíveis
np.random.seed(42)

# Criando um dataset fictício de 30 linhas (30 funcionários) com as colunas ID, Idade, Salário, Anos de Experiência
n = 30
ids = np.arange(1, n + 1)  # IDs de 1 a 30
idades = np.random.randint(20, 60, size=n)  # Idades entre 20 e 60 anos
salarios = np.random.randint(40000, 100000, size=n)  # Salários entre 40.000 e 100.000
anos_experiencia = np.random.randint(1, 35, size=n)  # Anos de experiência entre 1 e 35 anos

# Combinando os dados em um array
dataset = np.column_stack((ids, idades, salarios, anos_experiencia))

# Convertendo para DataFrame para visualização
df = pd.DataFrame(dataset, columns=['ID', 'Idade', 'Salário', 'Anos de Experiência'])

# Exibindo o DataFrame
print(df)

    ID  Idade  Salário  Anos de Experiência
0    1     58    40189                    7
1    2     48    59118                    8
2    3     34    75773                   14
3    4     27    93810                   17
4    5     40    41899                    4
5    6     58    96886                    2
6    7     38    41267                    6
7    8     42    71551                    4
8    9     30    90680                   29
9   10     30    51394                   18
10  11     43    43556                   26
11  12     55    43890                   34
12  13     59    81606                   10
13  14     43    70740                   14
14  15     22    54502                   31
15  16     41    61777                   15
16  17     21    50627                    8
17  18     43    48792                   14
18  19     49    83323                   23
19  20     57    83021                   21
20  21     21    48433                   16
21  22     40    83001                   18
22  23     52    51016                   24
23  24     31    63897                   26
24  25     41    42612                   25
25  26     44    96193                   29
26  27     46    98707                   15
27  28     47    95387                    1
28  29     35    94638                   25
29  30     34    63483                    7

In [ ]:
# Exercício 1: Redimensionar o dataset (30 linhas para 10 linhas e 12 colunas)
reshaped_dataset = dataset.reshape(10, 12)
print("Dataset redimensionado (10x12):\n", reshaped_dataset)

In [ ]:
# Exercício 2: Acessar o primeiro elemento (primeira linha) do dataset
first_row = dataset[0]
print("Primeira linha do dataset:\n", first_row)

In [ ]:
# Exercício 3: Acessar o salário (terceira coluna) da terceira pessoa
third_person_salary = dataset[2, 2]
print("Salário da terceira pessoa:", third_person_salary)

In [ ]:
# Exercício 4: Selecionar os salários de todos os funcionários
all_salaries = dataset[:, 2]
print("Salários de todos os funcionários:\n", all_salaries)

In [ ]:
# Exercício 5: Concatenar o dataset com um array de bônus (nova coluna)
bonus = np.random.randint(5000, 20000, size=n)  # Exemplo de bônus
dataset_with_bonus = np.column_stack((dataset, bonus))
print("Dataset com bônus:\n", dataset_with_bonus)

In [ ]:
# Exercício 6: Transpor o dataset
transposed_dataset = dataset.T
print("Dataset transposto:\n", transposed_dataset)

In [ ]:
# Exercício 7: Calcular a soma dos salários
sum_salaries = np.sum(dataset[:, 2])
print("Soma dos salários:", sum_salaries)

In [ ]:
# Exercício 8: Calcular a média dos anos de experiência
mean_experience = np.mean(dataset[:, 3])
print("Média dos anos de experiência:", mean_experience)

In [ ]:
# Exercício 9: Calcular o desvio padrão das idades
std_dev_ages = np.std(dataset[:, 1])
print("Desvio padrão das idades:", std_dev_ages)

In [ ]:
# Exercício 10: Multiplicar o salário e os anos de experiência de cada funcionário
salary_experience_product = dataset[:, 2] * dataset[:, 3]
print("Produto do salário e anos de experiência de cada funcionário:\n", salary_experience_product)

In [ ]:
# Exercício 11: Calcular o produto da matriz transposta do dataset com ela mesma
matrix_product = np.dot(dataset.T, dataset)
print("Produto da matriz transposta:\n", matrix_product)

In [ ]:
# Exercício 12: Filtrar funcionários com salários maiores que 60.000
high_salary_employees = dataset[dataset[:, 2] > 60000]
print("Funcionários com salários maiores que 60.000:\n", high_salary_employees)

In [ ]:
# Exercício 13: Ordenar o dataset pelo salário
sorted_by_salary = dataset[dataset[:, 2].argsort()]
print("Dataset ordenado pelo salário:\n", sorted_by_salary)

In [ ]:
# Exercício 14: Criar uma cópia do dataset
dataset_copy = np.copy(dataset)
print("Cópia do dataset:\n", dataset_copy)