# Aula 5 - Operações Matriciais Numpy

### Preparando o ambiente

In [ ]:
!pip install pandas numpy
import pandas as pd
import numpy as np

### Gerando um dataset fictício

In [85]:
# Definindo a seed para que os resultados possam ser reproduzidos.
np.random.seed(50)

# Criando um dataset fictício de 30 linhas (30 funcionários) com as colunas ID, Idade, Salário, Anos de Experiência.

# Primeiro de tudo, dizemos o número "n" do linhas.
n = 30

# Definindo a coluna de ID, que vai de 1 até 30.
ids = np.arange(1, n + 1)

# Definindo a coluna de idade, que está entre 20 e 60 anos.
idades = np.random.randint(20, 60, size=n)

# Definindo a coluna de salário que vai de 1500 até 20000.
salarios = np.random.randint(1500, 20000, size=n)

# Definindo a coluna de anos de experiência, que vai de 1 até 30.
anos_experiencia = np.random.randint(1, 30, size=n)

# Agora vamos juntar essas listas em um array (o nosso dataset).
dataset = np.column_stack((ids, idades, salarios, anos_experiencia))

# Feito isso já temos nosso dataset, e para manipular esses dados podemos transformá-lo num dataframe.
df = pd.DataFrame(dataset, columns=['ID', 'Idade', 'Salário', 'Anos de experiência'])

# Vamos agora visualizar o dataframe de forma resumida.
df.head()

   ID  Idade  Salário  Anos de experiência
0   1     52     8773                    1
1   2     31    11135                   20
2   3     53     7119                   16
3   4     50    16408                    6
4   5     24     1871                   29

## Exercícios

##### 1. Redimensionar o dataset (por exemplo, transformar 30 linhas em 10 linhas e 12 colunas)

In [ ]:
# Primeiro de tudo vamos ver como é a disposição de linhas e colunas no nosso dataframe.
df.shape

In [70]:
# Feito isso vamos redimensioná-lo. Note que o produto das linhas com as colunas deve permanecer igual (30 * 4 = 10 * 12).
df_redimensionado = pd.DataFrame(df.values.reshape(10, 12))

#### 2. Acessar o primeiro elemento (primeira linha) do dataset

In [ ]:
# Quando usamos o método values transformamos o dataframe em um array, possibilitando a manipulação numérica com numpy.
df.values[0]

#### 3. Acessar o salário (terceira coluna) da terceira pessoa

In [ ]:
df.values[2, 2]

#### 4. Selecionar os salários de todos os funcionários

In [ ]:
df.values[:, 2]

#### 5. Concatenar o dataset com um array de bônus (por exemplo, uma nova coluna)

In [ ]:
# Vamos criar uma nova coluna com random number generator e concatenar com nosso dataset.

# Primeiro criamos um gerador de números aleatórios mais moderno e recomendado do NumPy, chamado Generator. Depois usamos ele para gerar os valores da coluna.
rng = np.random.default_rng()
bonus = rng.random((30,1))

# Agora vamos concatenar com o nosso dataset (lembrando que estamos manipulando o dataset e não o dataframe, já que estamos utilizando numpy).
concatenado = np.concatenate((dataset, bonus), axis = 1)

# Agora só precisamos ajustar a saída para que apareça de forma mais legível e enfim printar na tela o dataset novo.
np.set_printoptions(suppress=True, precision=2)
concatenado

#### 6. Transpor o dataset

In [ ]:
ds_transposto = np.transpose(dataset)

ds_transposto

#### 7. Calcular a soma dos salários

In [83]:
np.sum(dataset[:, 2])

np.int64(341816)

#### 8. Calcular a média dos anos de experiência

In [84]:
np.mean(dataset[:, 3])

np.float64(13.7)

#### 9. Calcular o desvio padrão das idades

In [86]:
np.std(dataset[:, 1])

np.float64(11.837041672460039)

#### 10. Multiplicar o salário e os anos de experiência de cada funcionário

In [87]:
np.multiply(dataset[:, 2], dataset[:, 3])

array([  8773, 222700, 113904,  98448,  54259,  88984,   4984,  69590,
        69342,  68940, 220389, 415976, 297510,  56910, 179400,  92820,
       381640,  11802,  69750,  56763, 168350,  75600,  33880, 126665,
       339500, 353115, 393255, 147600, 521565,  35019])

#### 11. Calcular o produto da matriz transposta do dataset com ela mesma

In [92]:
dataset@ds_transposto

array([[ 76968235,  97688989,  62457762, 143949994,  16415565, 111523741,
         21865289, 122103979,  28970660, 120963439, 148729837, 165882570,
        174005114,  99855553,  68431206,  67862043, 167408919, 103541409,
        101988542,  55333732, 113611736,  55272014,  74309989, 158749598,
        106373718, 163047602, 127780827,  51796989, 157784283,  34138382],
       [ 97688989, 123989590,  79272034, 182704758,  20834919, 141549078,
         27750241, 154977852,  36769510, 153530275, 188772619, 210542625,
        220852753, 126739442,  86854544,  86131202, 212479992, 131416783,
        129445959,  70230091, 144199358,  70152024,  94315157, 201489284,
        135013105, 206945213, 162183078,  65742278, 200264698,  43328075],
       [ 62457762,  79272034,  50683235, 116811310,  13321400,  90498236,
         17743622,  99083724,  23509527,  98158207, 120689814, 134609143,
        141199956,  81029852,  55530415,  55068620, 135847673,  84020999,
         82760966,  44902175,  92192699,  44852078,  60300766, 128820662,
         86319458, 132308375, 103690815,  42032226, 128037621,  27702913],
       [143949994, 182704758, 116811310, 269225016,  30700762, 208579862,
         40891626, 228367906,  54181478, 226234824, 278166046, 310245194,
        325437764, 186757142, 127984298, 126918766, 313100044, 193649644,
        190745412, 103487690, 212485062, 103372560, 138978426, 296904948,
        198948268, 304944198, 238984740,  96874194, 295099920,  63846202],
       [ 16415565,  20834919,  13321400,  30700762,   3502083,  23785009,
          4663993,  26041387,   6179704,  25798143,  31720023,  35378790,
         37110562,  21296513,  14595358,  14473933,  35704239,  22082789,
         21751748,  11801862,  24230556,  11788718,  15848825,  33857052,
         22687292,  34773840,  27252969,  11047777,  33651761,   7281672],
       [111523741, 141549078,  90498236, 208579862,  23785009, 161595705,
         31679842, 176926375,  41976317, 175273801, 215507265, 240360048,
        252130693, 144688727,  99154735,  98328930, 242571874, 150028361,
        147778352,  80175963, 164621293,  80086856, 107672132, 230024899,
        154133866, 236253485, 185151645,  75052563, 228626607,  49463935],
       [ 21865289,  27750241,  17743622,  40891626,   4663993,  31679842,
          6213366,  34685204,   8231083,  34361201,  42248233,  47121771,
         49427988,  28365420,  19439689,  19278891,  47555239,  29413391,
         28972267,  15719824,  32273055,  15702058,  21110316,  45095259,
         30216871,  46315522,  36298446,  14714268,  44820876,   9699450],
       [122103979, 154977852,  99083724, 228367906,  26041387, 176926375,
         34685204, 193711489,  45958505, 191902139, 235952579, 263163076,
        276050493, 158415437, 108561519, 107657348, 265584760, 164261607,
        161798128,  87782227, 180239009,  87684676, 117886990, 251847503,
        168756610, 258667009, 202717035,  82172793, 250316517,  54156523],
       [ 28970660,  36769510,  23509527,  54181478,   6179704,  41976317,
          8231083,  45958505,  10905490,  45529221,  55980102,  62436928,
         65493434,  37584603,  25757646,  25543676,  63011353,  38972361,
         38387979,  20828015,  42762454,  20804730,  27970373,  59751775,
         40038403,  61369395,  48096078,  19496709,  59388810,  12850641],
       [120963439, 153530275,  98158207, 226234824,  25798143, 175273801,
         34361201, 191902139,  45529221, 190109694, 233748689, 260705009,
        273472072, 156935781, 107547515, 106651775, 263104086, 162727336,
        160286870,  86962311, 178555525,  86865680, 116785885, 249495160,
        167180390, 256250985, 200823600,  81405307, 247978490,  53650703],
       [148729837, 188772619, 120689814, 278166046,  31720023, 215507265,
         42248233, 235952579,  55980102, 233748689, 287404983, 320548864,
        336246734, 192959793, 132234612, 131132997, 323498649, 200080551,
        197079924, 106923920, 219542322, 106805178, 143593337, 306765792,
        205556204, 315072610, 246921951, 100091629, 304901171,  65965670],
       [165882570, 210542625, 134609143, 310245194,  35378790, 240360048,
         47121771, 263163076,  62436928, 260705009, 320548864, 357515693,
        375023135, 215212358, 147484820, 146256641, 360805548, 223154851,
        219808206, 119255540, 244860464, 119122968, 160153725, 342142793,
        229261436, 351407236, 275397927, 111634840, 340063151,  73574136],
       [174005114, 220852753, 141199956, 325437764,  37110562, 252130693,
         49427988, 276050493,  65493434, 273472072, 336246734, 375023135,
        393388679, 225751493, 154706658, 153417863, 378474205, 234082386,
        230571829, 125094675, 256851470, 124955746, 167995716, 358897754,
        240488535, 368616215, 288884019, 117101269, 356716247,  77175969],
       [ 99855553, 126739442,  81029852, 186757142,  21296513, 144688727,
         28365420, 158415437,  37584603, 156935781, 192959793, 215212358,
        225751493, 129550721,  88780741,  88041374, 217192814, 134331749,
        132317150,  71787703, 147397883,  71707928,  96407106, 205958645,
        138007720, 211535553, 165780279,  67200373, 204706661,  44289027],
       [ 68431206,  86854544,  55530415, 127984298,  14595358,  99154735,
         19439689, 108561519,  25757646, 107547515, 132234612, 147484820,
        154706658,  88780741,  60841910,  60335386, 148841947,  92057491,
         90676987,  49196671, 101011498,  49141966,  66068171, 141142915,
         94576699, 144964711, 113609352,  46052943, 140285292,  30352157],
       [ 67862043,  86131202,  55068620, 126918766,  14473933,  98328930,
         19278891, 107657348,  25543676, 106651775, 131132997, 146256641,
        153417863,  88041374,  60335386,  59833650, 147602422,  91291355,
         89922281,  48787603, 100170172,  48733196,  65518671, 139967548,
         93788711, 143757049, 112663176,  45669398, 139116712,  30100223],
       [167408919, 212479992, 135847673, 313100044,  35704239, 242571874,
         47555239, 265584760,  63011353, 263104086, 323498649, 360805548,
        378474205, 217192814, 148841947, 147602422, 364125717, 225208346,
        221830901, 120352902, 247113765, 120219134, 161627459, 345291306,
        231371195, 354641040, 277932201, 112662160, 343192523,  74251152],
       [103541409, 131416783,  84020999, 193649644,  22082789, 150028361,
         29413391, 164261607,  38972361, 162727336, 200080551, 223154851,
        234082386, 134331749,  92057491,  91291355, 225208346, 139289738,
        137200760,  74437745, 152837513,  74354888,  99965755, 213559556,
        143100668, 219341879, 171898476,  69680571, 212261166,  45924481],
       [101988542, 129445959,  82760966, 190745412,  21751748, 147778352,
         28972267, 161798128,  38387979, 160286870, 197079924, 219808206,
        230571829, 132317150,  90676987,  89922281, 221830901, 137200760,
        135143138,  73321425, 150545423,  73239830,  98466557, 210356759,
        140954688, 216052429, 169320594,  68635694, 209077960,  45235799],
       [ 55333732,  70230091,  44902175, 103487690,  11801862,  80175963,
         15719824,  87782227,  20828015,  86962311, 106923920, 119255540,
        125094675,  71787703,  49196671,  48787603, 120352902,  74437745,
         73321425,  39780846,  81677383,  39736488,  53423132, 114127594,
         76474047, 117217482,  91864032,  37238325, 113433846,  24543518],
       [113611736, 144199358,  92192699, 212485062,  24230556, 164621293,
         32273055, 180239009,  42762454, 178555525, 219542322, 244860464,
        256851470, 147397883, 101011498, 100170172, 247113765, 152837513,
        150545423,  81677383, 167703786,  81586658, 109688361, 234331911,
        157020159, 240677219, 188618682,  76458285, 232907646,  50390497],
       [ 55272014,  70152024,  44852078, 103372560,  11788718,  80086856,
         15702058,  87684676,  20804730,  86865680, 106805178, 119122968,
        124955746,  71707928,  49141966,  48733196, 120219134,  74354888,
         73239830,  39736488,  81586658,  39692228,  53363594, 114000752,
         76389186, 117087340,  91761978,  37196996, 113307886,  24516068],
       [ 74309989,  94315157,  60300766, 138978426,  15848825, 107672132,
         21110316, 117886990,  27970373, 116785885, 143593337, 160153725,
        167995716,  96407106,  66068171,  65518671, 161627459,  99965755,
         98466557,  53423132, 109688361,  53363594,  71744046, 153267321,
        102700457, 157416950, 123368268,  50008746, 152335518,  32960046],
       [158749598, 201489284, 128820662, 296904948,  33857052, 230024899,
         45095259, 251847503,  59751775, 249495160, 306765792, 342142793,
        358897754, 205958645, 141142915, 139967548, 345291306, 213559556,
        210356759, 114127594, 234331911, 114000752, 153267321, 327431331,
        219403491, 336297398, 263556111, 106834629, 325440909,  70410478],
       [106373718, 135013105,  86319458, 198948268,  22687292, 154133866,
         30216871, 168756610,  40038403, 167180390, 205556204, 229261436,
        240488535, 138007720,  94576699,  93788711, 231371195, 143100668,
        140954688,  76474047, 157020159,  76389186, 102700457, 219403491,
        147017434, 225344827, 176602836,  71587840, 218070362,  47180377],
       [163047602, 206945213, 132308375, 304944198,  34773840, 236253485,
         46315522, 258667009,  61369395, 256250985, 315072610, 351407236,
        368616215, 211535553, 144964711, 143757049, 354641040, 219341879,
        216052429, 117217482, 240677219, 117087340, 157416950, 336297398,
        225344827, 345403938, 270692754, 109727615, 334253440,  72316486],
       [127780827, 162183078, 103690815, 238984740,  27252969, 185151645,
         36298446, 202717035,  48096078, 200823600, 246921951, 275397927,
        288884019, 165780279, 113609352, 112663176, 277932201, 171898476,
        169320594,  91864032, 188618682,  91761978, 123368268, 263556111,
        176602836, 270692754, 212142204,  85994049, 261954456,  56675418],
       [ 51796989,  65742278,  42032226,  96874194,  11047777,  75052563,
         14714268,  82172793,  19496709,  81405307, 100091629, 111634840,
        117101269,  67200373,  46052943,  45669398, 112662160,  69680571,
         68635694,  37238325,  76458285,  37196996,  50008746, 106834629,
         71587840, 109727615,  85994049,  34859109, 106185747,  22974629],
       [157784283, 200264698, 128037621, 295099920,  33651761, 228626607,
         44820876, 250316517,  59388810, 247978490, 304901171, 340063151,
        356716247, 204706661, 140285292, 139116712, 343192523, 212261166,
        209077960, 113433846, 232907646, 113307886, 152335518, 325440909,
        218070362, 334253440, 261954456, 106185747, 323463132,  69982516],
       [ 34138382,  43328075,  27702913,  63846202,   7281672,  49463935,
          9699450,  54156523,  12850641,  53650703,  65965670,  73574136,
         77175969,  44289027,  30352157,  30100223,  74251152,  45924481,
         45235799,  24543518,  50390497,  24516068,  32960046,  70410478,
         47180377,  72316486,  56675418,  22974629,  69982516,  15143362]])

#### 12. Filtrar funcionários com salários maiores que 10.000 (adaptei porque o meu dataset foi gerado com salários de até 20.000)

In [95]:
funcionarios_filtrados = dataset[dataset[:, 2] > 10000]

print(funcionarios_filtrados)

# OBS: também é possível fazer "filtro = dataset[:, 2] > 10000" e passar o filtro em "dataset[filtro]"

[[    2    31 11135    20]
 [    4    50 16408     6]
 [    6    26 12712     7]
 [    8    26 13918     5]
 [   10    25 13788     5]
 [   11    22 16953    13]
 [   12    51 18908    22]
 [   13    27 19834    15]
 [   14    24 11382     5]
 [   17    48 19082    20]
 [   18    47 11802     1]
 [   19    46 11625     6]
 [   21    26 12950    13]
 [   24    41 18095     7]
 [   25    20 12125    28]
 [   26    26 18585    19]
 [   27    39 14565    27]
 [   29    35 17985    29]]

#### 13. Ordenar o dataset pelo salário

In [101]:
dataset[np.argsort(dataset[:, 2])[::-1]]

array([[   13,    27, 19834,    15],
       [   17,    48, 19082,    20],
       [   12,    51, 18908,    22],
       [   26,    26, 18585,    19],
       [   24,    41, 18095,     7],
       [   29,    35, 17985,    29],
       [   11,    22, 16953,    13],
       [    4,    50, 16408,     6],
       [   27,    39, 14565,    27],
       [    8,    26, 13918,     5],
       [   10,    25, 13788,     5],
       [   21,    26, 12950,    13],
       [    6,    26, 12712,     7],
       [   25,    20, 12125,    28],
       [   18,    47, 11802,     1],
       [   19,    46, 11625,     6],
       [   14,    24, 11382,     5],
       [    2,    31, 11135,    20],
       [    1,    52,  8773,     1],
       [   23,    51,  8470,     4],
       [   15,    34,  7800,    23],
       [   16,    55,  7735,    12],
       [    3,    53,  7119,    16],
       [   20,    46,  6307,     9],
       [   22,    40,  6300,    12],
       [   28,    22,  5904,    25],
       [   30,    50,  3891,     9],
       [    9,    42,  3302,    21],
       [    7,    57,  2492,     2],
       [    5,    24,  1871,    29]])

#### 14. Criar uma cópia do dataset

In [102]:
ds_copia = dataset.copy()