# Bem vindo a nossa primeira avaliação!!

## Informações sobre o Dataset

   Input variables (based on physicochemical tests):\
   1 - fixed acidity\
   2 - volatile acidity\
   3 - citric acid\
   4 - residual sugar\
   5 - chlorides\
   6 - free sulfur dioxide\
   7 - total sulfur dioxide\
   8 - density\
   9 - pH\
   10 - sulphates\
   11 - alcohol
   
   Output variable (based on sensory data): 
   12 - quality (score between 0 and 10)

In [11]:
import pandas as pd
df = pd.read_csv('dataset/winequality-red.csv', delimiter=';')

# Mostrar as primeiras linhas
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
!pwd

/media/clayton/NewDisk/Aulas_Unesp/2024/sem2/ds/P1

In [6]:
!ls

dataset  p1.ipynb  README.md  respostas

In [10]:
!ls ..

aula1		aula12-pandas3	aula4	     exer_alunos-pandas
aula10-pandas1	aula2		aula5-Numpy  P1
aula11-pandas2	aula3		DS_Unesp     PLANO_ENSINO_atualizado.pdf