#### Importando bibliotecas

In [4]:
import pandas as pd
import random
import numpy as np
from faker import Faker
fake = Faker()
from datetime import datetime, timedelta

#### Criando um dataframe com dados fictícios:

In [8]:
regnum = 250
produto = ['Geladeira', 'Air Fryer', 'Celular', 'Notebook', 'Sofá', 'Cama']
categoria = ['Casual', 'Profissional', 'Luxo', 'Edição Limitada']
localidade = ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Brasília']


dateRange = pd.date_range(start=datetime(2024, 1, 1), end=datetime(2024, 12, 31), freq='D')

lojasData = {
    "ID_Produto" : [random.randint(0,25) for _ in range (len(dateRange))],
    "NomeProduto" : [random.choice(produto) for _ in range (len(dateRange))],
    "Categoria" : [random.choice(categoria) for _ in range (len(dateRange))],
    "Preço" : [round(random.uniform(100, 10000)) for _ in range (len(dateRange))],
    "QuantidadeVendida" : [random.randint(1,100) for _ in range (len(dateRange))],
    "ID_Loja":[random.randint(100,125) for _ in range (len(dateRange))],
    "LocalidadeLoja":[random.choice(localidade) for _ in range (len(dateRange))],
    "DataVenda": dateRange,
}

In [10]:
lojasDf = pd.DataFrame(lojasData)
lojasDf.to_csv('lojasData.csv', index = False)
df = pd.read_csv('lojasData.csv')
df

,ID_Produto,NomeProduto,Categoria,Preço,QuantidadeVendida,ID_Loja,LocalidadeLoja,DataVenda
0,9,Notebook,Profissional,1486,70,125,São Paulo,2024-01-01
1,22,Sofá,Profissional,1063,75,114,Rio de Janeiro,2024-01-02
2,21,Cama,Edição Limitada,1748,33,125,Rio de Janeiro,2024-01-03
3,20,Air Fryer,Luxo,4199,5,100,Rio de Janeiro,2024-01-04
4,11,Geladeira,Profissional,7289,57,104,Curitiba,2024-01-05
...,...,...,...,...,...,...,...,...
361,19,Air Fryer,Edição Limitada,657,90,102,Rio de Janeiro,2024-12-27
362,4,Notebook,Casual,6150,45,107,Brasília,2024-12-28
363,21,Notebook,Luxo,7744,75,121,Brasília,2024-12-29
364,12,Sofá,Profissional,4986,9,118,Brasília,2024-12-30
365,18,Sofá,Casual,1953,50,105,Rio de Janeiro,2024-12-31

### Análises

##### Análise exploratória

##### Total de vendas por produto

In [69]:
df.groupby('NomeProduto')['QuantidadeVendida'].sum()

NomeProduto
Air Fryer    2445
Cama         3593
Celular      3254
Geladeira    2663
Notebook     2835
Sofá         3155
Name: QuantidadeVendida, dtype: int64

##### Qual é a loja que vendeu mais produtos?

In [18]:
loja_max = df.groupby('ID_Loja')['QuantidadeVendida'].sum().idxmax()
vendas_max = df.groupby('ID_Loja')['QuantidadeVendida'].sum().max()
print(f"A loja com maior quantidade vendida é a {loja_max} com {vendas_max} vendas.")

A loja com maior quantidade vendida é a 112 com 1159 vendas.

##### Qual categoria de produto teve mais vendas em termos de quantidade?

In [47]:
print(f"A categoria com mais vendas foi a {df.groupby('Categoria')['QuantidadeVendida'].sum().idxmax()}, com {df.groupby('Categoria')['QuantidadeVendida'].sum().max()} unidades")

A categoria com mais vendas foi a Luxo, com 4945 unidades

##### Análise Temporal

##### Qual mês do ano teve mais vendas (quantidade)

In [67]:

# Converter a coluna 'data_completa' para datetime
df['DataVenda'] = pd.to_datetime(df['DataVenda'])

df['Ano'] = df['DataVenda'].dt.year
df['Mes'] = df['DataVenda'].dt.month
df['Dia'] = df['DataVenda'].dt.day

print(f"O mês do ano com maior número de vendas foi o {df.groupby('Mes')['QuantidadeVendida'].sum().idxmax()}, com {df.groupby('Mes')['QuantidadeVendida'].sum().max()} produtos vendidos.")

O mês do ano com maior número de vendas foi o 7, com 1680 produtos vendidos.

##### Qual mês gerou mais receita (valor total de vendas)

In [73]:
df['Receita'] = df['QuantidadeVendida']*df['Preço']

print(f"O mês do ano com maior receita foi o {df.groupby('Mes')['Receita'].sum().idxmax()}, com {df.groupby('Mes')['Receita'].sum().max()} reais faturados.")

O mês do ano com maior receita foi o 5, com 9371527 reais faturados.

##### Agrupamento de dados

In [84]:
df.groupby('NomeProduto')['Categoria'].value_counts()

NomeProduto  Categoria
Air Fryer    Casual             19
             Edição Limitada    19
             Profissional       17
             Luxo               16
Cama         Luxo               18
             Casual             17
             Edição Limitada    13
             Profissional        9
Celular      Edição Limitada    19
             Casual             13
             Luxo               13
             Profissional       13
Geladeira    Profissional       18
             Luxo               17
             Casual             13
             Edição Limitada    12
Notebook     Luxo               24
             Edição Limitada    16
             Profissional       16
             Casual             15
Sofá         Edição Limitada    14
             Luxo               13
             Profissional       13
             Casual              9
Name: count, dtype: int64

In [ ]:
Agrupe os dados por categoria e calcule a média de vendas por produto dentro de cada categoria.
Quais produtos tiveram as melhores vendas em cada localidade?
Criação de Gráficos:

Crie gráficos de barras para visualizar as vendas por produto e por loja.
Crie um gráfico de linha para mostrar a evolução das vendas ao longo do tempo.