### Imports

In [1]:
import pandas as pd
import random
import numpy as np
from faker import Faker

### Inicializar o Faker

In [2]:
fake = Faker()

### Função para gerar dados

In [3]:
def gerar_dados(n):
    produtos = ['Laptop', 'Smartphone', 'Tablet', 'Monitor', 'Teclado', 'Mouse', 'Impressora', 'Câmera', 'Fone de Ouvido', 'Smartwatch']
    categorias = ['Eletrônicos', 'Acessórios', 'Periféricos']
    localidades = ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Belo Horizonte', 'Porto Alegre']

    data = []
    
    for _ in range(n):
        ID_Produto = random.randint(1000, 9999)
        Nome_Produto = random.choice(produtos)
        Categoria = random.choice(categorias)
        Preço = round(random.uniform(50, 5000), 2)
        Quantidade_Vendida = random.randint(1, 50)
        ID_Loja = random.randint(1, 50)
        Localidade_Loja = random.choice(localidades)
        Data_Venda = fake.date_between(start_date='-2y', end_date='today')

        data.append([ID_Produto, Nome_Produto, Categoria, Preço, Quantidade_Vendida, ID_Loja, Localidade_Loja, Data_Venda])
    
    df = pd.DataFrame(data, columns=['ID_Produto', 'Nome_Produto', 'Categoria', 'Preço', 'Quantidade_Vendida', 'ID_Loja', 'Localidade_Loja', 'Data_Venda'])
    return df

In [4]:
# Gerar 250 registros
df = gerar_dados(250)

# Salvar em CSV
df.to_csv('dados_vendas.csv', index=False)

In [5]:
# Exibir os primeiros registros
df.head(5)

,ID_Produto,Nome_Produto,Categoria,Preço,Quantidade_Vendida,ID_Loja,Localidade_Loja,Data_Venda
0,9308,Mouse,Eletrônicos,4552.07,35,5,São Paulo,2023-09-29
1,9489,Smartphone,Eletrônicos,127.63,30,22,Belo Horizonte,2024-02-03
2,8261,Smartwatch,Eletrônicos,939.35,45,5,Curitiba,2024-04-19
3,3815,Câmera,Periféricos,1696.92,25,18,Rio de Janeiro,2024-07-30
4,1114,Laptop,Acessórios,4942.55,8,9,Porto Alegre,2024-01-16

### Começar um Data Frame com as informações geradas

In [6]:
df = pd.read_csv('dados_vendas.csv')

# 1 - Produto mais vendido

In [19]:
total_vendas_produto = df.groupby('Nome_Produto')['Quantidade_Vendida'].sum()
print(total_vendas_produto)

produto_mais_vendido = total_vendas_produto.idxmax()
print(f'O {produto_mais_vendido} teve {total_vendas_produto["Smartphone"]} unidades vendidas')

Nome_Produto
Câmera            459
Fone de Ouvido    758
Impressora        707
Laptop            575
Monitor           532
Mouse             543
Smartphone        919
Smartwatch        788
Tablet            750
Teclado           421
Name: Quantidade_Vendida, dtype: int64
O Smartphone teve 919 unidades vendidas

In [8]:
vendas_loja = df.groupby('ID_Loja')['Quantidade_Vendida'].sum().idxmax()
print(f'A loja com mais vendas é a de ID = {vendas_loja}')

A loja com mais vendas é a de ID = 41

In [9]:
total_vendas_categoria = df.groupby('Categoria')['Quantidade_Vendida'].sum().idxmax()
print(f'A categoria com mais vendas é {total_vendas_categoria}')

A categoria com mais vendas é Eletrônicos

In [10]:
df['Data_Venda'] = pd.to_datetime(df['Data_Venda'])

In [11]:
df['Mes_Ano'] = df['Data_Venda'].dt.to_period('M')

In [12]:
mes_mais_vendas = df.groupby('Mes_Ano')['Quantidade_Vendida'].sum().idxmax()
print(f'O ano-mes com mais vendas foi {mes_mais_vendas}')

O ano-mes com mais vendas foi 2024-07

In [13]:
df['Valor_Venda'] = df['Quantidade_Vendida'] *  df['Preço']

In [14]:
mes_mais_receita = df.groupby('Mes_Ano')['Valor_Venda'].sum().idxmax()
print(f'O mês com mais renda foi {mes_mais_receita}')

O mês com mais renda foi 2023-01