In [29]:
import pandas as pd
import random
import numpy as np
from faker import Faker

In [30]:
# Inicializar o Faker
fake = Faker()

In [31]:
# Função para gerar dados
def gerar_dados(n):
    produtos = ['Laptop', 'Smartphone', 'Tablet', 'Monitor', 'Teclado', 'Mouse', 'Impressora', 'Câmera', 'Fone de Ouvido', 'Smartwatch']
    categorias = ['Eletrônicos', 'Acessórios', 'Periféricos']
    localidades = ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Belo Horizonte', 'Porto Alegre']

    data = []
    
    for _ in range(n):
        ID_Produto = random.randint(1000, 9999)
        Nome_Produto = random.choice(produtos)
        Categoria = random.choice(categorias)
        Preço = round(random.uniform(50, 5000), 2)
        Quantidade_Vendida = random.randint(1, 50)
        ID_Loja = random.randint(1, 50)
        Localidade_Loja = random.choice(localidades)
        Data_Venda = fake.date_between(start_date='-2y', end_date='today')

        data.append([ID_Produto, Nome_Produto, Categoria, Preço, Quantidade_Vendida, ID_Loja, Localidade_Loja, Data_Venda])
    
    df = pd.DataFrame(data, columns=['ID_Produto', 'Nome_Produto', 'Categoria', 'Preço', 'Quantidade_Vendida', 'ID_Loja', 'Localidade_Loja', 'Data_Venda'])
    return df

In [32]:
# Gerar 250 registros
df = gerar_dados(250)

# Salvar em um arquivo CSV
df.to_csv('dados_vendas.csv', index=False)

In [33]:
# Exibir os primeiros registros
df.head()

,ID_Produto,Nome_Produto,Categoria,Preço,Quantidade_Vendida,ID_Loja,Localidade_Loja,Data_Venda
0,8976,Teclado,Periféricos,182.39,9,12,Belo Horizonte,2023-06-26
1,4626,Smartphone,Eletrônicos,4654.80,2,42,Rio de Janeiro,2023-11-17
2,9023,Smartphone,Periféricos,1706.24,22,49,Curitiba,2023-02-06
3,2526,Tablet,Periféricos,723.53,42,49,São Paulo,2022-12-14
4,2837,Smartwatch,Periféricos,537.35,30,26,Belo Horizonte,2022-11-11

In [34]:
df = pd.read_csv('dados_vendas.csv')

In [35]:
total_vendas_produto = df.groupby('Nome_Produto')['Quantidade_Vendida'].sum()
total_vendas_produto

Nome_Produto
Câmera             603
Fone de Ouvido     706
Impressora         593
Laptop             640
Monitor            724
Mouse              365
Smartphone        1207
Smartwatch         580
Tablet             793
Teclado            510
Name: Quantidade_Vendida, dtype: int64

In [43]:
vendas_loja = df.groupby('ID_Loja')['Quantidade_Vendida'].sum().idxmax()
print(f'A loja com mais vendas é a de ID = {vendas_loja}')

A loja com mais vendas é a de ID = 27

In [41]:
total_vendas_categoria = df.groupby('Categoria')['Quantidade_Vendida'].sum().idxmax()
print(f'A categoria com mais vendas é {total_vendas_categoria}')

A categoria com mais vendas é Periféricos

In [44]:
df['Data_Venda'] = pd.to_datetime(df['Data_Venda'])

In [48]:
df['Mes_Ano'] = df['Data_Venda'].dt.to_period('M')

In [49]:
mes_mais_vendas = df.groupby('Mes_Ano')['Quantidade_Vendida'].sum().idxmax()
print(f'O ano-mes com mais vendas foi {mes_mais_vendas}')

O ano-mes com mais vendas foi 2022-11

In [50]:
df['Valor_Venda'] = df['Quantidade_Vendida'] *  df['Preço']

In [55]:
mes_mais_receita = df.groupby('Mes_Ano')['Valor_Venda'].sum().idxmax()
print(f'O mês com mais renda foi {mes_mais_receita}')

O mês com mais renda foi 2023-10